html,
body {
  background-image: url(assets/pic.avif);
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  height: 100%;
  width: 100%;
}
.clock-cont {
  color: hsl(0, 45%, 18%);
  font-size: 5rem;
  font-family: monospace;
  text-shadow: 3px 3px 5px hsla(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
